[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
gunicorn = "*"
uvicorn = "*"
scipy = "*"
numpy = "*"
requests = "*"
requests-toolbelt = "*"

[dev-packages]

[requires]
python_version = "3.9"
